* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pageBackground {
  background-color: black;
  height: 100vh;
}

.header {
  text-align: center;
  background: rgba(133, 133, 209, 0.7);
  padding: 32px;
  text-decoration: none;
  color: white;
}

.header:hover {
  background-color: rgba(133, 133, 209, 0.8);
}
.joinButton {
  padding: 8px;
  background-color: rgba(119, 136, 153, 0.678);
  float: left;
  width: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  text-decoration: none;
}

.joinButton:hover {
  background-color: rgba(119, 136, 153, 0.9);
}
.createButton {
  padding: 8px;
  background-color: rgba(119, 136, 153, 0.678);
  float: left;
  width: 50%;
  text-align: center;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-decoration: none;
}
.createButton:hover {
  background-color: rgba(119, 136, 153, 0.9);
}

.welcomeText {
  font-size: medium;
  text-align: center;
  margin-top: 30vh;
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.479);
}

.searchBox {
  text-align: center;
  padding-top: 30vh;
}

.searchBox p {
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.438);
}

.statusMessage {
  height: 70px;
  border: none;
  resize: none;
  background: none;
  color: red;
}
