* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pageBackground {
  background: linear-gradient(white, lightgray);
  height: 100vh;
}

.header {
  text-align: center;
  background: linear-gradient(pink, rgb(230, 174, 183));
  padding: 16px;
  text-decoration: none;
  color: black;
}

.joinButton {
  padding: 8px;
  background-color: rgba(79, 255, 62, 0.836);
  float: left;
  width: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  text-decoration: none;
}
.createButton {
  padding: 8px;
  background-color: rgba(206, 30, 56, 0.836);
  float: left;
  width: 50%;
  text-align: center;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-decoration: none;
}

.welcomeText {
  text-align: center;
  padding-top: 30vh;
}

.searchBox {
  text-align: center;
  padding-top: 30vh;
}

.statusMessage {
  height: 70px;
  border: none;
  resize: none;
  background: none;
  color: red;
}
